body {
  overflow: hidden;
}

.main {
  display: grid;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 0.8em 1.6em;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #fbfbfb;
  transition: background-color .3s;
  font-size: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  z-index: 1;
}

.dropdown-content > a {
  display: block;
  padding: 0.6em;
  color: #777;
  text-decoration: none;
  font-size: 1em;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown:hover > .dropdown-btn {
  /*  background-color: #3e8e41;*/
}
